@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.content {
  position: relative;
  max-width: 1450px;
  padding-left: 10px;
}

.dynamic-report {
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
}

.dynamic-report__title-content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  text-align: center;
}

.dynamic-report__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.dynamic-report__date-range {
  position: relative;
  max-width: 350px;
}

.dynamic-report__date-div {
  display: flex;
  align-items: center;
}

/* Стили для таблицы */
.dynamic-report__table {
  position: relative; // Для корректного позиционирования Loader
  width: 100%;
  min-height: 200px; // Временная высота для отладки
}

.dynamic-report__report-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; // Фиксированный макет таблицы
}

.dynamic-report__report-header {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: green;
}

.dynamic-report__report-table th,
.dynamic-report__report-table td {
  border: 1px solid #ddd;
  padding: 2px;
}

.dynamic-report__report-table th:first-child,
.dynamic-report__report-table td:first-child {
  white-space: nowrap;
}

.dynamic-report__report-tr:hover {
  background-color: #ddd;
}

.dynamic-report__report-tr:active {
  background-color: #ddd;
}

.dynamic-report__report-cell {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: black;
}

/* Стили для Loader */
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1); // Белый фон без прозрачности
  z-index: 10; // Высокий z-index, чтобы быть поверх таблицы
}

/* Стили для сообщения об ошибке */
.error-message {
  @include mixins.text-style(26px, 24px, 600, vars.$red);
  text-align: center;
  padding: 20px;
  border: 1px solid vars.$red;
  background-color: vars.$vanilla-strawberry;
  margin: 20px 0;
  display: flex;
  justify-content: center; // Центрирование по горизонтали
  align-items: center; // Центрирование по вертикали
}