@use './mixins' as mixins;
@use './variables' as vars;

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #dfdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$hulk;
  border-radius: 20px;
}

body {
  font-family: "Bitter", sans-serif;
  font-size: 16px;
  color: vars.$carbon;
  background-color: vars.$white;
}