.form {
  position: relative; // Для позиционирования сообщения об ошибке
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center; // Выравниваем элементы по центру вертикально
  gap: 50px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  position: relative; // Для позиционирования сообщения об ошибке
  align-items: flex-start; // Выравниваем элементы по левому краю

  label {
    position: absolute; // Абсолютное позиционирование для label
    top: -20px; // Сдвигаем label выше инпута
    left: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .inputField {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .errorMessage {
    color: red;
    font-size: 14px;
    position: absolute; // Абсолютное позиционирование
    top: 100%; // Размещаем сообщение под инпутом
    left: 0;
    margin-top: 5px; // Отступ от инпута
    height: 20px; // Фиксированная высота для сообщения об ошибке
  }
}

.submitButton {
  padding: 8px;
  background-color: white;
  border: 2px green solid;
  font-size: 14px;
  line-height: 12px;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: green;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}